[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/srv/TK-Server/venv-mynurse/bin/uwsgi -i /srv/TK-Server/mynurse/.config/uwsgi/mynurse.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
