<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마들렌 개인정보 처리 방침</title>
</head>
<body>
    <section>마들렌 개인정보 처리방침</section>
    <br>
    <section>개인정보 처리방침</section>
    <section>수집하는 개인정보의 형식</section>
    <br>
    <section>
        <div>개인정보 처리의 목적</div>
        <div>1. 마들렌 이용을 위해 개인정보가 수집될 수 있습니다. 수집될 수 있는 개인정보는 다음과 같으며 사용자 동의 후 수집됩니다.</div>
        <div>2. 로그데이터: 사용자 ip</div>
    </section>
    <section>
        <div>개인정보 수집 방법</div>
        <div>1. 사용자가 마들렌 어플을 이용하는 과정에서 수집됩니다.</div>
    </section>
    <section>
        <div>개인정보 수집 및 이용 목적</div>
        <div>- 마들렌의 원활한 이용을 위해 개인정보를 수집합니다. 세부적인 이용 목적은 다음과 같습니다.</div>
        <div>- 본인확인과 부정이용 방지를 위해</div>
        <div>- 서비스 이용문의 응대를 위해</div>
        <div>- 이용 현왕 파악을 위한 통계 데이터 축적을 위해</div>
        <div>- 새로운 컨텐츠 추천을 위해</div>
    </section>
    <section>
        <div>개인정보의 공유 및 제공</div>
        <div>- 개인정보는 제3자에게 제공되지 않습니다.</div>
    </section>
    <section>
        <div>이용자 및 법정대리인의 권리와 그 행사방법</div>
        <div>- 이용자 및 만 14세 미만의 사용자의 경우 법정 대리인은 개인정보의 조회, 수정 및 계정 삭제가 가능합니다.</div>
    </section>
    <section>
        <div>개인정보 보유 및 이용기간</div>
        <div>마들렌에 가입이 되어있는동안 보유하고 탈퇴시 개인정보는 파기됩니다. 하지만 관계 법령 등으로 보존 필요가 있는 경우 일정 기간 보관합니다.</div>
    </section>
    <section>
        <div>개인정보 파기절차 및 방법</div>
        <div>전자적 파일로 개인정보를 저장하기에 기술적으로 파기됩니다.</div>
    </section>
    <section>
        <div>개인정보 관리 책임자</div>
        <div>이름: 김태형</div>
        <div>소속: 마들렌</div>
        <div>email: uuzaza74@gmail.com</div>
        <div>이름: 정진호</div>
        <div>소속: 마들렌</div>
        <div>email: hahoh0013@gmail.com</div>
    </section>
    <section>
        <div>서비스 이용약관</div>
        <div>제 1조(목적)</div>
        <div>
            본 이용약관은 마들렌 어플리케이션의 이용권한을 부여받기 위한 조건을 명시하여 이용자의 권리, 의무 및 책음사항에 대한 동의를 목적으로 합니다.
            마들렌 어플리케이션 이용자는 본 약관에 동의해야 서비스를 이용할 수 있습니다.
        </div>
        <div>제 2조(정의)</div>
        <div>1. 약관에서 명시하는 이용자란 당사가 제공하는 서비스를 이용하는 회원을 통칭합니다.</div>
        <div>2. 회원이란 본 약관에 동의하고 계정을 생성한 자로서 당사가 제공하는 정보와 서비스를 지속적으로 이용할 수 있는 자를 말합니다.</div>
        <div>제 3조(약관에 대한 명시 및 변경)</div>
        <div>1. 당사는 필요에 따라 약관을 수정할 수 있으며, 개정 전 약관과 함께 적용일자 이전부터 웹사이트에서 확인 할 수 있도록 게시합니다.</div>
        <div>2. 기존 이용자에게 변경 약관에 고나한 내용을 가입시 기재한 전자우편 주소로 발송합니다.</div>
        <div>3. 회원은 변경된 약관에 동의하지 않을 경우 탈퇴(해지)를 할 수 있는 한변 변경된 약관의 효력 발생일 이후 서비스를 계속 이용할 경우 약관의 변경 사항에 동의한 것으로 간주됩니다.</div>
        <div>4. 본 약관에 명시하지 않은 사항과 본 약관의 해석에 관해는 정부가 제정한 소비자 보호지침 및 관계 법령 또는 관례에 따릅니다.</div>
        <div>제 4조(회원가입)</div>
        <div>1. 회원으로서 서비스의 이용을 희망하는 자는 약관에 동의하고, 당사가 제시하는 회원가입 약식에 주요 사항을 기재해야합니다.</div>
        <div>2. 회원가입시 연락 가능한 전자우편주소를 기재해야합니다. 이용자의 실수 또는 의도적으로 유효하지 않은 전자우편 주소를 기재함으로써 당사의 정보 및 서비스 이용과 관련된 정보가 수신되지 않을 경우 이에 대한 책임은 이용자에게 있습니다.</div>
        <div>제 5조(회원 자격상실 및 이의제기)</div>
        <div>- 서비스 제공을 방해하거나 부정한 방법으로 서비스를 사용하는 헹위</div>
        <div>- 다른 이용자의 개인정보를 무단으로 수집하는 행위</div>
        <div>- 당사의 동의를 받지 않고 이것을 영리적 목적으로 이용하는 행위</div>
        <div>- 당사가 제공하는 소프트웨어의 일부를 복사, 수정, 배포, 판매, 대여, 역 설계, 추출 등 서비스를 변형하려는 일체의 행위</div>
        <div>- 법령, 법원 판결, 결정 혹은 명령 또는 법령상 구속력을 가지는 행정 조치에 위반되는 행위</div>
        <div>- 공공질서 또는 미풍약속을 저해할 우려가 있는 행위</div>
        <div>- 당사 또는 제 3자의 저작권, 상표권, 지적재산권, 명예권, 프라이버시권 등 재산상 권리를 침해하는 경우</div>
        <div>- 타인의 개인정보, 이용이력 등을 불법으로 수집, 공개 또는 제공하는 행위</div>
        <div>- 당사가 정한 이용목적과 다른 목적으로 서비스를 이용하는 행위</div>
        <div>- 타인의 메일주소를 허락없이 도용하거나 사용하는 행위</div>
        <div>- 본 약관을 포함해 기타 규정 또는 이용조건을 위반하는 행위</div>
        <div>제 6조(개인정보의 보호 및 관리)</div>
        <div>1. 당사는 관련 법령이 정하는 바에 따라 계정정보를 포함한 회원의 개인정보를 보호하기위해 노력합니다. 회원 개인 정보의 보호 및 사용에 대해서는 관련 법령 및 당사가 별도로 고지하는 개인정보 취급방침이 적용됩니다.</div>
        <div>2. 웹사이트에 단순히 링크된 제3자 제공 서비스에 대해서는 당사의 개인정보 취급방침이 적용되지 않습니다.</div>
        <div>3. 당사는 회원의 귀책사유로 인해 노출된 회원의 계정정보를 포함한 모든 정보에 대해서 일체의 책임을 지지 않습니다.</div>
        <div>제 7조(계정 관리)</div>
        <div>1. 기본적으로 계정 또는 로그인 정보를 본인 외의 제 3자에게 공유하거나 양도할 수 없으며 이 문제가 발생했을 때 당사는 책임을 지지않습니다.</div>
        <div>2. 회원은 자신의 계정정보를 비밀로 유지할 책임이 있으며, 로그인 정보사용에 대한 책임을 집니다.</div>
        <div>3. 마지막 접속 시점으로부터 1년 이상 경과한 계정은 이용자에게 통지없이 삭제될 수 있습니다.</div>
        <div>제 8조(계정보안)</div>
        <div>1. 로그인 정보의 분실, 도난 또는 허가 없는 유출 등 보안에 대한 위반사실을 발견하거나 의심이 가는 경우, 이용자는 즉시 당사에게 알려줘야 합니다.</div>
        <div>2. 계정 관리의 소홀 또는 계정 공유로 인해 발생하는 손해에 대해서는 당사가 책임을 지지 않습니다.</div>
        <div>제 9조(서비스 이용의 기술적 요구 사항)</div>
        <div>1. 당사는 서비스를 공급하면서 아래의 필수사양이 충족되어야 정상적인 서비스 이용이 가능하며, 이용자가 해당 사양에 충족되지 못한 사유로 서비스 이용에의 이의를 제기할 시 당사는 책임을 지지 않습니다.</div>
        <div>- 모바일 단말기: iPhone</div>
        <div>- 서비스 접속시 발생되는 인터넷 연결 비용은 이용자가 부담합니다.</div>
        <div>제 10조(콘텐츠 이용 및 권한)</div>
        <div>1. 이용자는 정해진 열람권한을 넘어 콘텐츠 복제, 송신, 전재, 수정 등의 행위를 하면 안됩니다.</div>
        <div>제 11조(업데이트)</div>
        <div>1. 서비스 이용을 위해 새로운 소프트웨어가 필요하거나 추가되는 경우, 이용자의 동의에 의해 기기에서 소프트웨어를 자동으로 업데이트하거나 설치할 것을 요구할 수 있습니다.</div>
        <div>2. 당사는 서비스를 지속적으로 변경 및 개선 할 수 있고, 기능을 추가 또는 제거할 수 있습니다.</div>
        <div>제 12조(서비스 중단)</div>
        <div>1. 당사는 상사의 영업방침에 따라 정해진 시간동안 서비스를 제공하되 다음과 같은 경우 예외사례를 둡니다.</div>
        <div>- 컴퓨터 및 서버 등 정보통신설비의 보수점검, 교체, 정기점검 하는 경우</div>
        <div>- 사이트 및 서비스를 개편하는 경우</div>
        <div>- 통신사고, 보안사고 등 서비스 불안정성에 대응하기 위해 필요한 경우</div>
        <div>- 천재지변, 비상사태, 정전, 설비장애, 이용자 폭주 등 정상적인 서비스 제공이 불가능 한 경우</div>
        <div>- 정부 주무부처로 통제를 받는 경우</div>
        <div>- 당사의 분할, 합경, 영업양도, 영업의 폐지, 당 해 당사의 수익 약화 등 경영상 중대한 필요에 의한 경우</div>
        <div>2. 위의 이유로 인해 당사는 서비스를 중단할 수 있으며, 서비스 중단 이전, 홈페이지에 이를 공지합니다. 사전에 통지할 수 없는 부득이한 사정이 있는 경우는 사후에 통지를 할 수 있습니다.</div>
        <div>제 13조(손해배상)</div>
        <div>- 당사는 해당 어플리케이션 서비스 이용과 관련해 회원에게 발생한 손해에 대해 책임을 지지 않습니다.</div>
        <div>제 14조(재판권 및 준거법)</div>
        <div>1. 당사와 회원간에 발생한 분쟁으로 소송이 제기되는 경우, 이용자의 주소지 관할법인(주소가 없는 경우에는 관련법 규정에 따릅니다.)을 전속관할로 합니다.</div>
        <div>2. 본 약관과 당사와 이용자 간 제기된 전자상거래 소송에는 대한민국 법률을 적용합니다.</div>
    </section>
</body>
</html>